
/*
 *  MEMO : 프로젝트 스타일 파일입니다.
 * 작성자 : 민지
 * 작성일 : 2020/02/25.
*/

/* .full_body{height: 100vh; position:relative;} */
/* header{height:50px; border-bottom: 1px solid #eee; box-sizing: border-box; position:fixed; top:0; left: 0; width:100%; background: #fff; z-index: 8;}
header.transparent{background: transparent} */

header .btn_back{position: absolute; left:0; top:50%; transform: translateY(-50%); width: 16px; padding: 16px; line-height: 1}
header .btn_home{position: absolute; left:26px; top:50%; transform: translateY(-50%); width: 16px; padding: 16px; line-height: 1}
header h1{font-size:18px; text-align: center; line-height:50px; color:#FF4A4A; font-family: 'SCDream4';}
header h1 a{color:#FF4A4A;}

header .head_search{position: absolute; right:0px; top:50%; transform: translateY(-50%); padding: 16px; font-weight: bold; line-height: 1}
header .head_search img{width: 16px;}
header .head_alarm{position: absolute; right:0; top:50%; transform: translateY(-50%); padding: 16px; font-weight: bold; line-height: 1}
header .head_alarm img{width: 22px;}
header .head_setting{position: absolute; right:40px; top:50%; transform: translateY(-50%); padding: 16px; font-weight: bold; line-height: 1}
header .head_setting img{width: 22px;}
.new_alarm{top:18px; right:18px; display: inline-block; width: 6px; height: 6px; border-radius: 5px; background: #FF4A4A; position: absolute;}
header .search_clearable{display: none; top:18px; right:50px;cursor: pointer; width: 16px; height: 16px; position: absolute;}
header .search_clearable img{width: 16px;}
header h1 input[type="search"]{padding-right: 40px; width:calc(100% - 80px); height: 40px; margin-top: -5px;border: none;}
header h1 img{height: 30px; padding: 8px;}
footer ul{border-top: 1px solid #eee; position: fixed; z-index: 150; bottom:0; width: 100%; height: 60px; background: #FBFBFB; box-sizing: border-box;}
footer li{font-size: 12px; width: 20%; height: 100%; float: left; text-align: center; padding: 7px; box-sizing: border-box;}
footer li a{color: #999; display: inline-block;}
footer li a span{display: block; width:24px; height:24px; overflow: hidden; margin: 0 auto; position: relative; margin-bottom:3px;}
footer li a span img{width:100%; position: absolute; top:0; left:0; }
footer li.active a span img{position: absolute; top:-24px;}
footer li.active a{color:#FF2A5D;}


.nav{position: fixed; overflow: scroll; width:80%; height: 100%; background: #fff; top:0; left:-100%; z-index: 999; transition: all .3s;}
.nav.open{left:0}
.nav .nav_top{position: relative; height: 52px; text-align: center;}
.nav .nav_top .after_login{position: absolute; left:0; width:100%; margin-top: 50px; padding:0 20px 20px 20px; box-sizing: border-box;}
.nav .nav_top .after_login a{float: right; display: inline-block; border-radius: 20px; width:70px; height:25px; line-height: 25px; border: 1px solid #ddd; color: #666; font-size: 12px;}
.nav .nav_top .nav_close_btn{position: absolute; right:0; top: 5px; width: 15px; height: 15px; padding: 15px; display: none}
.nav.open .nav_top .nav_close_btn{display: block;}
.nav .nav_top .nav_close_btn img{width: 100%}

.nav_dim{position: fixed; left:0; top:0; width: 100%; height: 100vh; z-index: 9; opacity: 0; visibility: hidden;background: rgba(0,0,0,.4);}
.nav_dim.open{opacity: 1; visibility:visible;}

.dutch_auction{height: 200px;}
.left_menu_list li{height: 45px; line-height: 44px; border-bottom: 1px solid #eee; box-sizing: border-box;}
.left_menu_list li:last-child{border-bottom: 0;}
.left_menu_list li img{width: 16px; margin-right: 8px; vertical-align: middle;}

.nav .left_menu_btn a{border-radius: 40px; float: left; border: 1px solid #ddd; box-sizing: border-box; text-align: center; height: 36px; line-height: 35px; display: inline-block; width:calc(50% - 10px); margin-right: 20px;}
.nav .left_menu_btn span:last-child a{margin-right: 0;}
.nav .left_menu_btn span a img{width: 18px; vertical-align: middle; margin-top: -3px;}
/* 탭토글 탭2개 */
.tab_toggle_menu{overflow: hidden;width: 100%; height: 50px; border-bottom: 1px solid #eee;}
.tab_toggle_menu.three li{display: block; width:33.33%; float: left; line-height: 50px; text-align: center; font-size: 16px; color: #999;}
.tab_toggle_menu li{display: block; width:50%; float: left; line-height: 50px; text-align: center; font-size: 16px; color: #999;}
.tab_toggle_menu li.active{color: #FF4A4A; position: relative;}
.tab_toggle_menu li.active::after{content: ''; width:calc(100% - 40px); position: absolute; bottom:0; display: block; margin: 0 20px;border:1px solid #FF4A4A;}

/* 로그인 */
.login_logo{font-family: 'SCDream5'; font-size: 47px; color: #FF4A4A; text-align: center; margin-top: 150px; margin-bottom: 80px;}
.login_wrap{width:100%; padding: 0 40px; box-sizing: border-box; margin: 0 auto;}
.login_link{width:100%; text-align: center; margin:20px auto 40px; box-sizing: border-box;}
.login_link a{display: inline-block; width: ; margin: 0 20px; color: #666; text-align: center; box-sizing:border-box;}
.login_link span{display: inline-block; color: #ddd; vertical-align: top;}

/* 회원가입 동의 리스트 */
.all_checkbox li{height: 40px; line-height: 40px; overflow: hidden;}
.all_checkbox li > span a{float: right; text-decoration: underline; font-size: 12px; color: #999;}

/* 회원가입 버튼 flex style */
.flex_1, .flex_2, .flex_3{display: flex;}
.flex_1 input, .flex_1 select{flex: 1; padding: 0; text-indent: 15px;}
.flex_1 span{line-height: 45px; flex: 0 0 25px; text-align: center; vertical-align: middle;}
.flex_2 input, .flex_3 input{flex:1;}
.flex_2 a{border-radius: 4px; margin-left: 10px; text-align: center; color: #FF4A4A; height:50px; line-height: 48px; box-sizing: border-box; border: 1px solid #FF4A4A; flex: 0 0 95px;}
.flex_3 a{border-radius: 4px; margin-left: 10px; text-align: center; color: #FF4A4A; height:50px; line-height: 48px; box-sizing: border-box; border: 1px solid #FF4A4A; flex: 0 0 120px;}
.flex_3 a.deactive{border: none; background: #eee; color: #999;}
.flex_3 .txt_timer{padding-right:9px; background: #fff; color: #FF7B7B; font-size: 12px; position: absolute; top:50%; right: 131px; transform: translateY(-50%);}

/*-------------------------complete 화면-------------------------*/
/* complete 공통 */
.complete_wrap{padding:0 20px; box-sizing: border-box; margin:0 auto; font-family:'Nanum Barun Gothic', '나눔바른고딕'; }
/* join_complete */
.complete_wrap.join h3{text-align: center; font-family: 'SCDream4';margin-top: 180px; font-size: 32px; color:#FF4A4A; }
.join_complete_buisnessman{background: url('/images/i_caution.png') no-repeat; background-size: 18px; background-position: 8px 30px; padding: 30px; box-sizing: border-box;}

.join_detail_choice li{float: left; width:calc(50% - 5px); margin-right: 10px;}
.join_detail_choice li img{width: 100%;}
.join_detail_choice li:last-child{margin-right: 0;}
.proposal_complete{padding: 0 20px; box-sizing: border-box; margin-top: 150px; text-align: center;}
.proposal_complete img{width: 50px; margin-bottom: 20px;}
.proposal_complete h3{text-align: center; font-family: 'SCDream4'; font-size: 30px; color:#FF4A4A;}
/* no_search_data */
.no_data{width:100%; text-align: center; padding: 20px; box-sizing: border-box; font-size: 16px; color:#999;}
.no_data img{width: 75px; margin: 70px 0 30px 0;}

/* 홈 */
.consult_title{padding: 15px 0; box-sizing: border-box; border-bottom: 1px solid #eee; overflow: hidden;}
.consult_title.background{background:#F6F6F6;}
.consult_title span{color: #999;line-height: 30px;}
.consult_title a{float: right; text-align: center; width:80px; height: 30px; line-height: 28px; border-radius: 5px;}
a.btn_deactive{color:#fff; background: #999;}
a.btn_point{color:#fff; background: #FF4A4A;}
a.btn_point_line{color:#FF4A4A; background:#fff; border: 1px solid #FF4A4A;}
a.ongoing{color:#333; background:#fff; border: 1px solid #FF4A4A;}
a.btn_waiting{color:#333; border: 1px solid #666; background: #fff;}
a.btn_consultation_request{color:#000; border: 1px solid #ddd; background:#ddd}
a.btn_contract_suspension{color:#666; background: #fff;border: 1px solid #ddd;}
a.btn_deadline{color:#999; border: 1px solid #eee; background: #eee;}
a.btn_hold{color:#666; border: 1px solid #999; background: #fff;}
.home{overflow: hidden;}
.home .img_box{width: 90px; height: 90px; margin-right: 10px; float: left; border-radius: 5px;}
.home .txts{float: left; display: inline-block; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; width:calc(100% - 100px)}
.home .txts p{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.home .txts ul{margin-top: 10px;}
.home .txts ul li{margin-bottom: 5px;}
.home .txts ul span{color: #666; width: 70px; display: inline-block;}
.home .alarm_img{width: 22px; vertical-align: middle; margin-top: -3px; margin-right: 10px;}
.home table{border-collapse: separate; border-spacing: 0 10px;}
.home table td{color: #333;}
.home table th{color: #666;width:90px; font-weight: normal; text-align: left; vertical-align: text-top;}

/* 일반상담 */
.customer_info th{font-weight: normal; text-align: left; color:#666; width: 100px;}
.customer_info tr{margin-bottom: 4px; display: block;}
.customer_info td img{width: 27px; height: 27px; vertical-align: middle; top:-3px; margin-left: 10px;}
.counsel_list_btns_wrap{overflow: hidden; margin-top: 25px; margin-bottom: 30px;}
.counsel_list_btns_wrap span a{margin-right: 5px; width: calc(33.33% - 8px); display: inline-block; height:40px; line-height: 40px; text-align: center; border-radius: 30px;}
.counsel_list_btns_wrap.twe span a{margin-right: 5px; width: calc(50% - 5px); display: inline-block; height:40px; line-height: 40px; text-align: center; border-radius: 30px;}
.counsel_list_btns_wrap.twe span:last-child a{margin-right: 0;}
.contract_info th{font-weight: normal; text-align: left; color:#666; width:100px; vertical-align: text-top; color:#666;}
.contract_info tr{margin-bottom: 4px; display: block;}


/* 역경매상담 */
.ducth_auction_consult_brand{padding: 15px 20px 10px 20px; box-sizing: border-box;}
.ducth_auction_consult_brand .row ul{float: right; margin-right: 5px;}
.ducth_auction_consult_brand .row ul li{font-size: 14px; color:#999;margin: 0 10px; float: left;}
.ducth_auction_consult_brand .row ul li:last-child::after{content: ''; top:-14px; left:-10px; display: block; width:1px; height: 10px; position: relative; background: #ddd;}
.ducth_auction_consult_brand .row ul li.active{color:#333;}
.ducth_auction_consult_brand .row .filter{width: 18px; float:right}
.ducth_auction_consult_brand .brand_wrap ul{display: none;}
.ducth_auction_consult_brand .brand_wrap ul.active{display: block;}
.ducth_auction_consult_brand .brand_wrap ul li label{float:left; border-radius: 30px; color:#333; background: #F9F9F9; width:calc(33.33% - 10px); margin-bottom: 10px;  margin-right: 10px; padding: 8px 0; box-sizing: border-box; text-align: center}
.ducth_auction_consult_brand .brand_wrap ul li label:nth-child(3n){margin-right: 0;}
.ducth_auction_consult_brand .brand_wrap ul li input[type=checkbox]:checked + label{color:#fff;background-color: #FF4A4A}
.dutch_auction_table tr{display: block; margin-bottom: 5px;}
.dutch_auction_table th{text-align: left; font-weight: normal; color:#666; width: 100px; vertical-align: text-top;}
.dutch_auction_detail{overflow: hidden;}
.dutch_auction_detail .img_box{margin-left: 10px;width: 120px; height: 120px; border-radius: 5px; overflow: hidden;margin-right:20px; float: left;}
.dutch_auction_detail .txts{float: left; display: inline-block; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; width:calc(100% - 150px)}
.dutch_auction_detail .txts ul{margin-top: 10px;}
.dutch_auction_detail .txts ul li{margin-bottom: 5px;}
.dutch_auction_detail .txts ul span{color: #666; width: 80px; display: inline-block;}
.dutch_auction_detail_list{border-top:1px solid #eee; padding: 10px 0; box-sizing: border-box;}
.dutch_auction_detail_note{width:calc(100% - 40px); margin: 0 auto; margin-top: 20px; padding: 20px; box-sizing: border-box; background: #F9F9F9; border-radius: 15px;}
.dutch_auction_detail_note img{width: 18px; vertical-align: middle; margin-top: -3px; margin-left: 6px;}
.proposal_info{margin-bottom: 25px; border-radius: 15px; border:1px solid #ddd; box-sizing: border-box;}
.proposal_detail{margin-top: 20px; background: #F9F9F9;border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; padding: 20px; box-sizing: border-box;}

.ducth_auction_list{overflow: hidden;}
.ducth_auction_list .img_box{margin-left: 20px;width: 90px; margin-right:0; float: left;}
.ducth_auction_list .txts{float: left; display: inline-block; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; width:calc(100% - 130px); margin: 0 10px;}
.ducth_auction_list .txts ul{margin-top: 10px;}
.ducth_auction_list .txts ul li{margin-bottom: 5px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap}
/* 제안하기*/
.recommend_product li{width: calc(33.33% - 10px); float: left; margin-right: 15px; position: relative;}
/* .recommend_product li:nth-child(3n){margin-right: 0;} */
.recommend_product .product_wish_delete{z-index: 2;display: inline-block; width:20px; height: 20px; position: absolute; top:10px; left:10px;}
.recommend_product .product_img_wrap{width:100%; height:0; padding-bottom:100%; overflow:hidden; box-sizing: border-box; position:relative;border: 1px solid #ddd; border-radius: 15px; }
.recommend_product .product_img_wrap img{position:absolute; width:100%; height: 100%;}
.minishop_filter_ul p{margin: 12px 0; color:#666; font-family: 'NotoSansKR-Bold';}
.minishop_filter_ul ul li{display: block;overflow: hidden; float: left; color: #666; margin-right:20px; margin-bottom: 10px;}
.minishop_filter_ul ul li input[type="checkbox"] + label{height: 22px;overflow: hidden; display: block; color:#666;margin-right: 0;}
.minishop_filter_ul ul li input[type="checkbox"]:checked + label{color:#FF4A4A; font-family: 'NotoSansKR-Bold';}

input.search{background:#f9f9f9; height: 40px; border-radius: 20px; border:0;}
input.search + a .search{width: 18px; position: absolute; right:15px; top:10px;}
.dutch_auction_offer_product_select{overflow:hidden; padding: 0 20px; box-sizing: border-box;}
.dutch_auction_offer_product_select li{margin-bottom: 40px; width:calc(33.33% - 10px); margin-right: 15px; float: left;}
.dutch_auction_offer_product_select li img{width: 100%; height:100%; object-fit: cover;}
.dutch_auction_offer_product_select li:nth-child(3n){margin-right: 0;}
.dutch_auction_offer_product_select li input + label{width: 100%;overflow: hidden;margin-right: 0;display: inline-block; border: 2px solid #ddd;border-radius: 15px;height:26vw;}
.dutch_auction_offer_product_select li input[type="checkbox"]:checked + label{border:2px solid #FF4A4A;}
.dutch_auction_offer_product_select li p{width:100%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}
/* 마이페이지 */
.padding_16_20{padding: 16px 20px; box-sizing: border-box;}
.flex_address, .flex_phone_num{display:flex;}
.flex_address div a{margin-top: 10px; box-sizing: border-box; display:inline-block; flex: 0 0 90px; width:90px; height:50px; line-height:50px; border-radius: 4px; text-align: center; margin-left: 8px;}
.flex_phone_num div a{margin-top: 10px; box-sizing: border-box; display:inline-block; flex: 0 0 120px; width:120px; height:50px; line-height:50px; border-radius: 4px; text-align: center; margin-left: 10px;}

.minishop_bg_img img{width:100%; display: block;}
.back_img{width:100%; height: auto;}
.back_img::after{pointer-events: none; content: ''; display: block; width:100%; height: 100%; background: #000; opacity: 0.3; position: absolute; z-index: 5; top:0;}
.minishop_top_profile{padding: 20px; box-sizing: border-box; height: 200px; z-index: 15; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08); background: #fff; width:calc(100% - 40px); margin:0 auto; position: relative; top:-30px; border-radius: 15px;}
.renti_picture{border-radius: 50px;width:90px; position: absolute; top:-45px; left: 50%; transform: translateX(-50%); overflow: hidden;}
.minishop_review_info{width: 100%;}
.minishop_review_info li{width:50%; float: left; text-align: center;}
.minishop_review_info li p{font-size: 18px; font-family: 'NotoSansKR-Bold';}
.minishop_review_info li span{font-size: 12px;}
.minishop_review_info li:first-child::after{content: ''; display: block; width:1px; height:30px; background: #ddd; position: absolute; top:10px; right:0;}

/* recommend_product */
.my_product li{width: calc(50% - 12px); float: left; margin-right: 24px; position: relative;}
.my_product li img{border-radius: 15px; box-sizing: border-box; width:100%; border:1px solid #ddd;}
.my_product li:nth-child(2n){margin-right: 0;}
.member_out_complete_wrap{margin: 0 auto; text-align: center;}
.member_out_complete_wrap img{width: 90px; margin-bottom: 30px;}
.member_out_complete_contact{width:230px; margin: auto; margin-bottom: 30px; margin-top: 30px;text-align: center; padding: 15px; box-sizing: border-box; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.member_out_complete_contact p{margin-bottom: 10px; font-size: 16px; font-family: 'NotoSansKR-Bold'}
.member_out_complete_contact img{width: 20px; margin-right: 10px; vertical-align: middle; margin-top: -3px;}

.recommend_product{overflow: hidden;}
.recommend_product li{width: calc(50% - 12px); float: left; margin-right: 24px; position: relative;}
.recommend_product li img{height:44vw;border-radius: 15px; box-sizing: border-box; width:100%; border:1px solid #ddd;}
.recommend_product li:nth-child(2n){margin-right: 0;}
.recommend_product_area{position: relative; width: 100%; height: 40vw;}
.recommend_product_frame{position: absolute; top:0;left:0;right:0;bottom:0; transform: translate(50%,50%);}
.recommend_product_frame img{position: absolute; top:0;left:0;transform: translate(-50%,-50%); max-width: 100%; min-height: 100%;}
.minishop_filter_ul p{margin: 12px 0; color:#666; font-family: 'NotoSansKR-Bold';}
.minishop_filter_ul ul li{display: block;overflow: hidden; float: left; color: #666; margin-right:20px; margin-bottom: 10px;}
.minishop_filter_ul ul li input[type="checkbox"] + label{height: 22px;overflow: hidden; display: block; color:#666;margin-right: 0;}
.minishop_filter_ul ul li input[type="checkbox"]:checked + label{color:#FF4A4A; font-family: 'NotoSansKR-Bold';}

/* 상담리뷰 */
.consult_review_list > li{width: 100%; height: auto; border-bottom: 1px solid #eee; padding:25px 0; box-sizing: border-box;}
.consult_review_list ul li{padding: 20px 15px 25px 40px; margin-top: 25px;box-sizing: border-box; width: 100%;border-radius: 15px;background: #F9F9F9 url('/p_images/i_arrow_comment.png') no-repeat; background-size: 16px; background-position: 15px 33px;}
.consult_review_list .title{width:100%; overflow: hidden; position: relative;}
.consult_review_list .title > span, .seller_reply .title > a span{display: inline-block; margin-left: 8px; margin-bottom: 7px;}
.consult_review_list .img_box{border-radius: 15px; width:30px; display: inline-block; float: left;}
.consult_review_list .txt{display: inline-block; width: calc(100% - 30px); float: left; padding-left: 8px; box-sizing: border-box;}
.consult_review_list .txt .date{float: right; font-size: 12px; color: #999; position: absolute; top:0; right:0;}
.consult_review_list > li .photo li{border-radius: 0; padding: 0; float: left; margin-right: 10px; width: 50px; height: 50px; overflow: hidden; }
.consult_review_list > li .photo li img{display: block; object-fit: cover; width: 100%; height: 100%;}

/* 이벤트 */
.event_list li{width: 100%; margin-bottom: 10px;}
.event_list li img{width: 100%; display: block;}
.event_list li.close_event{position: relative;}
.event_list li.close_event::after{content: ''; display: block; position: absolute; width:100%; height:100%; background: #000; opacity: 0.6; top:0; left:0; z-index: 5; color:#fff;  text-align: center; line-height: 40vw}
.event_list li.close_event p{color:#fff; text-align: center; position: absolute; z-index: 6; width:100%; top:50%;transform:translateY(-50%); font-size: 22px;}
.event_detail_title{width: 100%; padding: 16px 20px; box-sizing: border-box; height: 85px;}
.event_detail_title span.label{margin-right: 10px; display: inline-block; color:#999; background: #eee; font-size: 12px; width:40px; height:22px; line-height: 20px; text-align: center;}
.event_detail_txt{font-size: 14px; line-height: 24px; color:#333; padding: 20px; box-sizing: border-box;}

/* point */
.point_top{padding: 20px 0; box-sizing: border-box; width: 100%;}
.point_top .f_right{font-size: 14px; color:#999;}
.point_top .point_price{font-size: 22px; font-family: 'NotoSansKR-Bold'; margin-top: 4px;}
.point_top .bottom_txt span.f_left{color:#666}
.point_top .bottom_txt span.f_right{font-size: 12px; color:#999;}
.point_line_box{position: relative; border: 2px solid #FF4A4A; box-sizing: border-box;padding: 20px; margin-top: 10px; border-radius: 15px;}
.point_line_box .title{font-size: 18px; font-family: 'NotoSansKR-Bold'}
.point_line_box .title img{width: 28px; vertical-align: middle; margin-right:10px; margin-top: -3px;}
.point_line_box .txt{font-size: 12px; color:#666; line-height: 18px; margin-top: 15px;}
.point_line_box span img{width: 12px; position: absolute; right:20px; top:30px;}

.point_ticket{margin-top: 50px;background: #F9F9F9;padding: 30px 20px; box-sizing: border-box;}
.point_ticket .txt{font-size: 14px; line-height: 24px; color:#666;}
.point_ticket .txt div{margin: 10px 0;}
.tab_area_wrap.point ul li{border-bottom: 1px solid #F6F6F6; box-sizing: border-box; padding: 20px;}
.tab_area_wrap.point ul.omit li .f_left{overflow: hidden;text-overflow: ellipsis; white-space: nowrap; width:calc(100% - 150px);}
.tab_area_wrap .reserve_payment .row{float: right; width:calc(100% - 100px)}
.tab_area_wrap .reserve_payment .row p{display: block;}
.point_detail_radio li input[type="radio"] + label{height:37px; margin-bottom: 10px;line-height: 37px; text-align: center; border-radius: 30px; box-sizing: border-box; width:calc(33.33% - 10px); float: left; background: #F9F9F9; margin-right: 10px;}
.point_detail_radio li:nth-child(3n){margin-right: 0;}
.point_detail_radio li input[type="radio"]:checked + label{background: #FF4A4A; color:#fff;}

.point_tickets dl{display: flex; width: 100%; height: 120px;  margin-bottom: 10px; }
.point_tickets dt{padding: 40px 0; box-sizing: border-box; text-align: center;font-size: 18px; color:#fff; width: 83px; height: 100%; display:block; float: left; background:#FF4A4A; border-radius: 5px 0 0 5px;}
.point_tickets dt span{font-size: 24px; color:#fff;}
.point_tickets dd.line{width:14px; height: 100%; display:block; float: left; background:url('/p_images/bg_ticket.png') right no-repeat; background-size: auto 120px; border: none; border-radius: 0;}
.point_tickets dd{position: relative;padding: 25px 0; box-sizing: border-box; width:calc(100% - 97px); height: 100%; display:block; border-top:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd;  background: #fff; border-radius: 0 5px 5px 0;}
.point_tickets dd p{font-size: 12px; color:#666;}
.point_tickets dd span{font-size: 24px; float: left; font-family: 'NotoSansKR-Bold'; margin-top: 10px;}
.point_tickets dl input[type="radio"] + label{margin-right: 0;position: absolute; right:20px; bottom:40px; height:26px; box-sizing: border-box; width:26px; background: url('/p_images/round.png') no-repeat; background-size: cover;}
.point_tickets dl input[type="radio"]:checked + label{background: url('/p_images/round_check.png') no-repeat;background-size: cover;}

/* faq_list */
.faq_list li{width:100%;}
.faq_list li p{position: relative; height: 55px; line-height: 55px; border-bottom: 1px solid #ddd; font-family: 'NotoSansKR-Bold';padding: 0 20px; box-sizing: border-box;}
.faq_list li img{width:27px; margin-top: -5px; vertical-align: middle; margin-right: 10px;}
.faq_list .answer_wrap{display: none;}
.faq_list .answer_wrap.display{display: block;}

/* qna_ul */
.qna_list_ul li{border-bottom: 1px solid #eee; padding: 20px 20px 20px 60px; box-sizing: border-box; background: url('/p_images/i_question.png') no-repeat; background-size: 27px; background-position:20px 20px}
.qna_detail_ul{border-bottom: 1px solid #eee; padding: 20px 20px 20px 60px; box-sizing: border-box; background: url('/p_images/i_question.png') no-repeat; background-size: 27px; background-position:20px 20px}
.answer_wrap{padding: 20px 20px 20px 60px; box-sizing: border-box; background: #F9F9F9 url('/p_images/i_answer.png') no-repeat; background-size: 27px; background-position:20px 20px; line-height: 24px;}
/* notice_list_ul */
.notice_list_ul li{padding: 13px 20px; box-sizing: border-box; border-bottom:1px solid #eee;}
.notice_detail_top{padding: 13px 20px; box-sizing: border-box; border-bottom:1px solid #eee;}
.notice_detail_body{padding: 20px; box-sizing: border-box; background:#F9F9F9;}
/* setting */
.setting_list li{height: 50px; border-bottom: 1px solid #eee; line-height: 50px; padding: 0 20px;}
.setting_list li a{display: block;}
.setting_list li a img{width: 20px; vertical-align: middle; margin-top: -3px; margin-right: 6px;}

/* alarm_list */
.alarm_ul li{position: relative; border-bottom: 1px solid #eee; height: 75px; padding: 15px 20px; box-sizing: border-box;}
.alarm_ul li a{display: block;}
.alarm_ul li .alarm_new{width:18px; vertical-align: middle; margin-left: 20px; margin-top: -3px;}
.alarm_ul li img.delete{width: 10px; position: absolute; top:33px; right:25px;}

/* 검색창 */
.inner_search{position: relative;}
.inner_search input{width:100%; border:0; border-bottom: 1px solid #333; border-radius: 0;}
.inner_search img.search{position: absolute; width: 20px; top:16px; right: 10px;}
.inner_search img.filter{position: absolute; width: 18px; top:16px; right:5px;}
